/*

jeudi 7 février 2019
correction du tp01 de lo07

*/

/* ===== Sélecteur de type (niveau balise) */

h1 {
  color: navy;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  color: red;  
}

a:link {
}

a:visited {
  color: orange;
}

a:hover {
  background-color: greenyellow;
}

a:active { 
}

/* ===== héritage (l'ensemble des sous-balises change de couleur) */

ol {
  color: chocolate;
}


/* ===== Sélecteur de classe (qui l'emporte sur le sélecteur global ol') */



.cs {
  color: crimson;

}

.tm {
  color: blueviolet;
}

/* ===== Sélecteur d'identifiant */

li {
  color: cornflowerblue;
}

#nom {
  text-decoration: underline;
}

/* ===== Sélecteur contextuel */

ol li {
  list-style-type: lower-greek;
}

/* ===== span */

.gras {
  font-weight: bold;
  color: dodgerblue;
}


/* 
===== div et faire disparaitre le div complet  

div autour de la table des matieres

*/

#matiere {
  background-color: salmon;
  display: none;

}

/* tableau */

table {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  width: 60%;

}

th  {
  border: 1px solid black;
  text-align: center;
  color: blue;
  height: 20px;
  padding: 15px;
}

td {
  border: 1px solid black;
  text-align: center;
  padding:15px;
  background-color: peachpuff;
}

/* la page et les boites */

#boite1 {
  width: 100%;
  height: 60px;
  border: 1px solid black;
}

#bligne {
  width: 100%;
  height: 60px;
  border: 1px solid black;
  text-align: center;
}

#boite2, #bimage, #boite3 {
  display: inline-block;
  width: 30%;
  height: 50px;
  border: 1px solid red;
}


#boite4 {
  width: 100%;
  height: 60px;
  border: 3px solid black;
}


#boite5 {
  width: 10%;
  height: 20px;
  text-align: center;
  border: 2px solid red;
}.boite {

}
