<!DOCTYPE html>

<html>
    <head>
        <title>La cave de l'Utt</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <base href="http://localhost:8888/LO07_2019/tpcor/p19_tp11_mvc/etape2/"> 
        
        <link href="public/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="public/css/tp_css.css" rel="stylesheet" type="text/css"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>



